*{box-sizing: border-box;}

main{
  margin-left: 20%;
}


.flex-container {
  display: flex;
  background-color: #c9e0e7;
  flex-direction: row;
 
}

.con{
  width: 80%;
  right: 0%;
  margin-left: 20%;
  background-color: #f1f1f1;
}

.container{
  width: 80%;
  position:absolute;
  right: 0%;
  background-color: #f1f1f1
}

 .bannar {
   padding-top: 0%;
  width: 100%;
height:400px;}




.intro p { 
text-emphasis: center;
   

}

.intro{ 
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}

.intro p {

    font-family: 'Courgette', cursive;
    color: #1623dd;
font-size: x-large;
}

/* Style inputs, select elements  */

.home-input, select {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 20px;
    box-shadow: 5px 10px 8px #888888;
  }

  
  
  
  /* Style the submit button */

  .home-input[type=submit] {
    background-color: #F2388F;
    color: white;
    /* padding: 12px 20px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
   align-items: center;
    margin: 20px;
    height: 50px;
  } 
   


  .home-input[type=submit] {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
  }
  
  .home-input[type=submit]:hover {background-color: #f1e208}
  
  .home-input[type=submit]:active {
    background-color: #819c06;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
 
  .form {
    border-radius: 5px;
    background-color: #dedef3;
    padding: 20px;
    width: 60%;
    margin: auto;
  }
  

   .footer {
        background-color: #c9e0e7;
        color:#9143bb;
        text-align: center;
        padding: 40px;
        height: 100px;
        margin-top:3%;
        font-size: large;
        font-weight: 600;
      }

#header {
  display: flex;
   flex-direction: column;
  justify-content: space-between;
  background: #9143bb;
  box-shadow: inset -0.25em 0 0.25em 0 rgba(219, 215, 215, 0.29);
  color: #fff;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width:20%;
}
.div-logo{
  position: relative;
}

.title {
  display:inline-block;
  font-weight:800;
  font-size:xx-large;
  padding-top: 30px;
  /* margin-right: 10%; */
  /* margin-left:3%; */
  padding-left: 10px;
  /* float: right; */
  position: absolute;
  left: 35%;
} 
 .img-logo {
  width: 120px;
  height: 90px;
  float: left;
  padding-top: 10px;
  } 

  
  .clear{clear: both;}

  #header .top {
    flex-grow: 1;
  }

  .nav-class a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
    transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    outline: 0;
}

.nav-class a:hover {
        color: #E27689;
        border-bottom-color: rgba(255, 255, 255, 0);
    }
    .nav-class li {
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom:solid #F1F1F1 2px;
    }

    .nav-class ul {
      position: relative;
      top: 100px;

    }
    .nav-class li a {

      font-size: large;
      font-weight: 400;
    }