<div class="container">
    <div class="jumbotron text-center">
        <div class="list">
            <div class="questions" id="q1"><%- choice[0] %></div>
            <div class="questions" id="q2"><%- choice[1] %></div>
            <div class="questions" id="q3"><%- choice[2] %></div>
            <div class="questions" id="q4"><%- choice[3] %></div>
        </div>
    </div>
</div>