<div class="container result">
    <div class="box" id="correct"><span id="score"></span> Out of 5 in <span id="time" ></span> sec</div>
    <form action="/result" method="post">
        <input type="hidden" name="time" value=""/>
        <input type="hidden" name="score" value=""/>
        <button type="submit">see result</button>
    </form>
</div>