<div class="container result">
    <div class="box user-name">  </div>
    <div class="box difficulty">  </div>
    <div class="box correct">  </div>
    <div class="box incorrect">  </div>
    <div class="box time">  </div>
    <a href="/scores">Top scores boared</a>
</div>