<div class="container result">
    <div class="box" id="user-name">  </div>
    <div class="box" id="difficulty">  </div>
    <div class="box" id="correct">  </div>
    <div class="box" id="score">  </div>
    <a href="/scores">Top scores boared</a>
</div>