<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="stylesheet" href="/style/modules.css" />
</head>

<body>
    <header>
       
    </header>
<main >
<h2 class="header">Meet our lovely teem: </h2>

<section class="flex">
<div class="block">
    <img class="imge" src="../imgs/pic-noor.jpg" >
    <p class="para">
        Noor-Al-Omari 
    </p>
    <div class="icon">
        <a target="_blank" href="https://www.linkedin.com/in/noor-al-omari-/"> <img src="../imgs/linkedin.png" ></a>
        <a target="_blank" href="https://github.com/nooromari"> <img src="../imgs/github.png" ></a>
    </div>
</div>

<div class="block">
    <img class="imge" src="../imgs/abd-pic.jpg" >
    <p class="para">
        Abed alaziz Alsalahat
    </p>
    <div class="icon">
        <a target="_blank" href="#"> <img src="../imgs/linkedin.png" ></a>
        <a target="_blank" href="https://github.com/abdalazzezzalsalahat"> <img src="../imgs/github.png" ></a>
    </div>
</div>

<div class="block">
    <img class="imge" src="../imgs/walaa-pic.jpg" >
    <p class="para">
        Walaa Alomari
        </p>
    <div class="icon">
        <a target="_blank" href="#"> <img src="../imgs/linkedin.png" ></a>
        <a target="_blank" href="https://github.com/wala93"> <img src="../imgs/github.png" ></a>
       
    </div>
</div>
</section>
</main>
<footer>
    
</footer>

</body>