<h2 class="header">Meet our lovely teem: </h2>
<div class="block">
    <img class="imge" src="./imgs/noor-pic.jpg" >
    <p class="para">
        Noor-Al-Omari 
    </p>
    <div class="icon">
        <a target="_blank" href="https://www.linkedin.com/in/noor-al-omari-/"> <img src="./imgs/linkedin.png" ></a>
        <a target="_blank" href="https://github.com/nooromari"> <img src="./imgs/github.png" ></a>
        <a target="_blank" href=""> <img src="./imgs/facebook.png" ></a>
    </div>
</div>

<div class="block">
    <img class="imge" src="#" >
    <p class="para">
        Abed alaziz Alsalahat
    </p>
    <div class="icon">
        <a target="_blank" href="#"> <img src="./imgs/linkedin.png" ></a>
        <a target="_blank" href="https://github.com/abdalazzezzalsalahat"> <img src="./imgs/github.png" ></a>
        <a target="_blank" href=""> <img src="./imgs/facebook.png" ></a>
    </div>
</div>

<div class="block">
    <img class="imge" src="#" >
    <p class="para">
        Walaa Alomari
        </p>
    <div class="icon">
        <a target="_blank" href="#"> <img src="./imgs/linkedin.png" ></a>
        <a target="_blank" href="https://github.com/wala93"> <img src="./imgs/github.png" ></a>
        <a target="_blank" href=""> <img src="./imgs/facebook.png" ></a>
    </div>
</div>

<div class="block">
    <img class="imge" src="#" >
    <p class="para">
        Naji A. Albatayneh
    </p>
    <div class="icon">
        <a target="_blank" href="#"> <img src="./imgs/linkedin.png" ></a>
        <a target="_blank" href="https://github.com/naji-albatayneh"> <img src="./imgs/github.png" ></a>
        <a target="_blank" href=""> <img src="./imgs/facebook.png" ></a>
    </div>
</div>