<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head')%>
</head>

<body>

    <header>

        <%- include('../layout/header')%>
    </header>
    <main>
    
        <section id="contact" class="container">

                <img src="../imgs/bannar.jpg" alt="" >

           <div class="intro">
               <p> At your break time, leisure time or even at stressful time, what do you think of some useful entertainment?<br>
                We are here to introduce it to you! All you have to do is define your test level and answer some questions<br> that activate the memory of your information, then you will get your result.<br>
                  So let's get started </p>
                </div> 
            <div class="form">


                <form method="post" action="/quiz">
                    <div class="row">
                        <div class="">
                            <input type="text" name="name" placeholder="Name" />
                        </div>
                        <div class="">
                            <select name="difficulty">
                                <option > select ...</option>
                                <option id="s1" value="easy">Easy</option>
                                <option id="s2" value="medium">Medium</option>
                                <option id="s3" value="hard">Hard</option>
                            </select>
                        </div>

                        <div class="button">
                            <input type="submit" value="Start" />
                        </div>
                    </div>
                </form>

            </div>
        </section>
        <%- include('../layout/footer') %>
    </main>
</body>

</html>