<!-- <img src="#" alt="LOGO"> -->
<h1>QuiZzie</h1>
<h2>

</h2>
<!-- <ul> -->
    <!-- <li><a href="/">Home Page</a></li> -->
    <!-- <li><a href="/views/pages/scores">Your Scores</a></li> -->
    <!-- <li><a href="/about">About Us</a></li> -->
<!-- </ul> -->

<div id="header">

    <div class="top">

        <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><img src="#" alt="LOGO"></span>
                <h1 id="title">QuiZzie</h1>
                <!-- <p>Biomedical Engineer</p> -->
            </div>

        <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/" id="top-link"><span class="icon fa-home">Home Page</span></a></li>
                    <li><a href="/views/pages/scores" id="portfolio-link"><span class="icon fa-th">Top Scores</span></a></li>
                    <li><a href="/about" id="about-link"><span class="icon fa-user">About Us</span></a></li>
                  
                </ul>
            </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
            <!-- <ul class="icons">
                <li><a href="https://www.linkedin.com/in/wala-alomari/" class="icon fa-twitter"><span class="label">linkedin</span></a></li>
                <li><a href="https://www.facebook.com/wala.alomary.1/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://github.com/wala93" class="icon fa-github"><span class="label">Github</span></a></li>
            </ul> -->

    </div>

</div>