<img src="#" alt="LOGO">
<h1>QuiZzie</h1>
<h2>
    <%=username%>
</h2>
<ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/views/pages/scores.ejs">Your Scores</a></li>
    <li><a href="/views/pages/about.ejs">About Us</a></li>
</ul>