<!-- <img src="#" alt="LOGO"> -->


<!-- <ul> -->
    <!-- <li><a href="/">Home Page</a></li> -->
    <!-- <li><a href="/views/pages/scores">Your Scores</a></li> -->
    <!-- <li><a href="/about">About Us</a></li> -->
<!-- </ul> -->

<div id="header">

    <div class="top">

        <!-- Logo -->
            <div id="logo" class="div-logo"> 
                <img src="../imgs/logo-quiz.png" alt="LOGO" class="img-logo" >
                <h1 class="title" id="title">QuiZzie</h1>
                <div class="clear"></div>
                        </div>

        <!-- Nav -->
            <nav id="nav"  class="nav-class">
                <ul>
                    <li><a href="/" id="top-link"><span class="icon fa-home">Home Page</span></a></li>
                    <li><a href="/scores" id="portfolio-link"><span class="icon fa-th">Top Scores</span></a></li>
                    <li><a href="/about" id="about-link"><span class="icon fa-user">About Us</span></a></li>
                  
                </ul>
            </nav>

    </div>

   
</div>